@using Microsoft.AspNetCore.Identity
@model TrellYeahCapstone.Controllers.HomeController.HomeIndexViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Grant Application</h1>
    @if (Model.ReportNotifications.Any())
    {
        <div class="mt-3">
            @foreach (var notification in Model.ReportNotifications)
            {
                <div class="alert @notification.AlertClass">
                    <strong>@notification.Message</strong>

                    Due: @notification.DueDate.ToString("MMMM d, yyyy")

                    <a asp-controller="UserDashboard"
                       asp-action="SubmitReport"
                       asp-route-grantId="@notification.GrantId"
                       class="alert-link ms-2">
                        Submit Report
                    </a>
                </div>
            }
        </div>
    }
    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("Admin"))
        {
            <p>You are logged in as an admin</p>
        }
        else if (User.IsInRole("ARCCchair"))
        {
            <p>You are logged in as the ARCC Chair</p>
        }
        else if (User.IsInRole("ARCCmember") && !User.IsInRole("ARCCchair"))
        {
            <p>You are logged in as an ARCC Member</p>
        }
        else if (!User.IsInRole("DeptChair"))
        {
            <p>
                You are logged in, you may now apply for a grant.
            </p>
        }
        if (User.IsInRole("DeptChair")) //Dallen - Dept Chair may not be mutually exclusive with other roles
        {
            @if (Model.ChairDepartmentName != null)
            {
                <span>You are the Department Chair of the @Model.ChairDepartmentName department.</span>
            }
            else
            {
                <span>You are a Department Chair, but unable to find department</span>
            }
            @if (Model.DepartmentUsers != null && Model.DepartmentUsers.Any())
            {
                <p>The following users are in your department:</p>
                @foreach (var user in Model.DepartmentUsers)
                {
                    <p>
                        @user.FirstName @user.LastName
                    </p>
                }
            }
            else
            {
                <p>Unable to detect any users assigned to your deparment</p>
            }
        }
        if (User.IsInRole("CollegeDean")) //Dallen - College Dean may not be mutually exclusive with other roles
        {
            @if (Model.DeanCollegeName != null)
            {
                <span>You are the College Dean of the @Model.DeanCollegeName college.</span>
            }
            else
            {
                <span>You are a College Dean, but unable to find college</span>
            }
            @if(Model.CollegeMembers != null && Model.CollegeMembers.Any())
            {
                <p>The following users are in your college:</p>
                @foreach(var user in Model.CollegeMembers)
                {
                    <p>
                        @user.FirstName @user.LastName
                    </p>
                }
            }
            else
            {
                <p>Unable to detect any users in your college</p>
            }
        }
    }
    else
    {
        <p>
            To apply for a grant<br />
            <span>
                <a class="text-dark" asp-are
                a="Identity" asp-page="/Account/Login">Login</a> or <a class="text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </span>
        </p>
    }
</div>
